{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12">

            <h4 class="mt-5 mb-5"> Your Cart
                <a href="{{ path('homepage') }}" class="float-right btn btn-sm btn-warning">Continue Shopping</a>
            </h4>

            {% if cart is empty %}
                <div class="alert alert-secondary" role="alert">
                    Your cart is empty.
                </div>
            {% else %}
                <table id="cart" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Book Title</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th class="text-center">Sub Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                        <tr>
                            <td><a href="{{ path('book_show',{'id': item.id}) }}">{{ item.name }}</a></td>
                            <td>{{ item.quantity }}</td>
                            <td>${{ item.price | number_format(2,'.',',') }}</td>
                            <td data-th="Subtotal" class="text-center">
                                ${{ (item.quantity * item.price) | number_format(2,'.',',') }}
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="{{ path('cart_remove',{'id': item.id}) }}"> remove
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="visible-xs">
                            <td class="text-left" colspan="3"><strong>Total</strong></td>
                            <td class="text-center"><strong>
                                    ${{ not app.session.get('totalPrice') ? "0" : app.session.get('totalPrice') }}
                                </strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="4">
                                <a class="btn btn-info" href="{{ path('cart_clear') }}">Clear <i
                                        class="fa fa-refresh"></i></a>
                                <a href="{{ path('cart_checkout') }}" class="btn btn-success">Checkout <i
                                        class="fa fa-angle-right"></i></a>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <form action="{{ path('coupon_add') }}" method="post">
                                <td><input type="text" name="coupon" class="form-control" value="">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"></td>
                                <td><button type="submit" class="btn btn-success btn-block">Redeem Coupon</button></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </form>
                        </tr>
                    </tfoot>
                </table>
            {% endif %}
            
        </div>
    </div>
</div>
{% endblock %}